In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/ethanweed/pythonbook/main/Data/chico.csv")
df

           id  grade_test1  grade_test2
0    student1         42.9         44.6
1    student2         51.8         54.0
2    student3         71.7         72.3
3    student4         51.6         53.4
4    student5         63.5         63.8
5    student6         58.0         59.3
6    student7         59.8         60.8
7    student8         50.8         51.6
8    student9         62.5         64.3
9   student10         61.9         63.2
10  student11         50.4         51.8
11  student12         52.6         52.2
12  student13         63.0         63.0
13  student14         58.3         60.5
14  student15         53.3         57.1
15  student16         58.7         60.1
16  student17         50.1         51.7
17  student18         64.2         65.6
18  student19         57.4         58.3
19  student20         57.1         60.1

In [3]:
# grade_test1 정규성 검사
stat1, p_value1 = shapiro(df['grade_test1'])
print(f"grade_test1 Normality Test p-value: {p_value1}")

# grade_test2 정규성 검사
stat2, p_value2 = shapiro(df['grade_test2'])
print(f"grade_test2 Normality Test p-value: {p_value2}")

NameError: name 'shapiro' is not defined